# flowchart

In [299]:
# import mysql.connector
import pandas as pd
from selenium import webdriver
from bs4 import BeautifulSoup
import time
from selenium.webdriver.common.keys import Keys
#from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support.wait import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.common.exceptions import TimeoutException
import numpy as np
import sys
import re

### 1. crawrler

In [10]:
driver = webdriver.Chrome('chromedriver.exe')

driver.get("http://www.google.com")

time.sleep(2)


element = driver.find_element_by_name('q')

element.clear()
element.send_keys('google map')
element.submit()

element = driver.find_element_by_xpath('//h3[@class="LC20lb DKV0Md"]')
element.click()

In [132]:
def get_info(html, shop_name, shop_address):
# shop 주소, 총 별점 갖고오기
    search_name, address, total_score, match=get_totalScore(html,shop_name, shop_address)
    
    # shop info가 있는가(addrsss로 확인)
    if address == '':
        review_list = ''
        score_list = ''
        return search_name, address,total_score, review_list, score_list, match 

    # 리뷰가 없는 경우    
    if  total_score == 0:
        review_list = 0
        score_list= 0
        
    # 리뷰가 있는 경우
    else:
        # 리뷰 text(버튼 )클릭
        review_button = driver.find_element_by_xpath('//button[@class="jqnFjrOWMVU__button gm2-caption"]')
        review_button.click()

        time.sleep(SCROLL_PAUSE_TIME)

        # 스크롤 다운
        try:
            element = driver.find_element_by_xpath('//span[@class="section-review-text"]')
            element.click()

        except Exception as err:
            print(err)

        i = 0
        while  True:
            i += 1
            html = driver.find_element_by_tag_name('html')
            time.sleep(SCROLL_PAUSE_TIME)

            text1 = html.text
            html.send_keys(Keys.END)
            time.sleep(SCROLL_PAUSE_TIME)

            html = driver.find_element_by_tag_name('html')
            text2 = html.text

            if text1 == text2:
                break
            else:
                continue
    
        review_html = driver.page_source

        review_list, score_list=get_review(review_html) 
        driver.back()

    return search_name, address, total_score, review_list, score_list, match

In [133]:
def get_review(html):
    soup = BeautifulSoup(html, 'html.parser')
    # 개별 리뷰
    total_review =soup.find_all('span',attrs = {'class': "section-review-text"} )

    review_list=[]
    for i, review in enumerate(total_review):
        review_list.append(review.text)

    #### 개별 별점
    scores =soup.find_all('span',attrs = {'class': "section-review-stars", 'role': 'img'} )

    score_list = []
    for score in scores:
        score_list.append(score.attrs['aria-label'])

    return review_list, score_list

In [403]:
def start_crwarling(k, forpet_hash,shop_name, shop_address):
    print(k, shop_name, shop_address)

    # shop 이름 입력
    element = driver.find_element_by_xpath('//input[@autofocus="autofocus"]')
    element.clear()
    
    search_word = shop_name + ' ' +shop_address[0]
#     search_word = shop_name
    element.send_keys(search_word)
    element.submit()
    
    search_button = driver.find_element_by_xpath('//button[@class="searchbox-searchbutton"]')
    search_button.click()
    
    time.sleep(SCROLL_PAUSE_TIME)

    # 키워드 입력 후, dict로 인덱스와 match 여부 받아오기
    select_shop_html = driver.page_source
    shop_select_dict= find_shop_by_name(select_shop_html, shop_name)
    
    # shoh이 여러개인 경우
    if len(shop_select_dict) != 0:
        print(f'shop이 {len(shop_select_dict)}개입니다')
        for index, name in shop_select_dict.items():
            shop_index =  2 * int(index) -1
            
            search_name = name
#             
            time.sleep(3)

            try:
                select_shop = driver.find_element_by_xpath(f'//div[@class = "section-layout section-scrollbox scrollable-y scrollable-show section-layout-flex-vertical"]/div/div[{shop_index}]/div[1]/div[1]')

                select_shop.click()

                time.sleep(SCROLL_PAUSE_TIME)

                html = driver.page_source

                search_name, address, total_score, review_list, score_list, match =get_info(html, shop_name, shop_address)
                print(f'{index}번째 shop:', search_name, address, total_score, match )
            except:
                search_name = shop_name
                address = ''
                total_score = ''
                match = 'not info'
                address = ''
                review_list = ''
                score_list = ''
           
            save_dataframe(forpet_hash, search_name, shop_address, address, total_score, review_list, score_list, match)
        
            time.sleep(SCROLL_PAUSE_TIME)
            driver.back()  
     
    # shop이 1개 인경우
    else:
        print('shop이 1개입니다')
        html = driver.page_source
        search_name, address, total_score, review_list, score_list, match =get_info(html, shop_name, shop_address)
        print(f'shop 1개, {search_name}, {address}, {match} ')
        
        save_dataframe(forpet_hash, search_name, shop_address, address, total_score, review_list, score_list, match)
    driver.back()

In [ ]:
# 여러개의  shop 목록에서 주소로 찾기
def find_shop_by_name(select_shop_html, shop_name):
    soup = BeautifulSoup(select_shop_html, 'html.parser')
#     print(select_shop_html)
    all_shop_name = soup.find_all('div', attrs = {'class': "section-result-title-container"} )
    
    shop_select_dict = {}
    for i, shop in enumerate(all_shop_name):
        include_word = ['동물', '펫', '애견', 'dot','cat','도그','캣','pet','야옹','멍멍']
        name_include_word = sum([ word in shop.text  for word in include_word]) 
        
        # 이름이 같은 경우
        if shop_name == shop.text :
            shop_select_dict[str(i+1)] = [shop.text, 'same_name']  
        # 이름이 비슷한 경우
        elif name_include_word >= 1:
            shop_select_dict[str(i+1)] = [shop.text,'simiral_name']
        else:
            pass
#     print(shop_select_dict)
    return shop_select_dict

In [405]:
# 주소와 total 별점 가져오기
def get_totalScore(html,shop_name, shop_address):
    
    
    soup = BeautifulSoup(html, 'html.parser')

    time.sleep(SCROLL_PAUSE_TIME)
    infos =soup.find_all('span',attrs = {'class': "section-info-text"} )
    time.sleep(SCROLL_PAUSE_TIME)
    
    # 검색 결과가 있는 경우
    try: 
        search_name = soup.find_all('div', attrs = {'class':'section-hero-header-title-description' })[0].text.replace(' ','')
        if shop_name in search_name:
            search_name = shop_name
        else:
            p = re.compile("[가-힣]")
            search_name = ''.join(p.findall(search_name)).replace('주','')
        
        print('serach_name', search_name, len(search_name))
        print('shop_name', shop_name, len(shop_name))
        
        #  shop이름이 일치하는 경우
        if shop_name in search_name:
            # shop 정보가 없는 경우
            if len(infos)== 0:
                total_score = ''
                match = 'not info'
                address = ''

                return address, total_score
            # shop 정보가 있는 경우    
            else:
                address =infos[0].text

                gu = shop_address[0] in address
                dong = shop_address[1] in address
                bungi = shop_address[2] in address


                if (gu and dong and bungi) or (dong and bungi):
                    match = 'match_all'
                elif (gu and dong) or dong:
                    match = 'match_dong'
                elif gu:
                    match = 'match_gu'
                else:
                    match = 'not_match' 
                    
                    
                    
        #shop이름이 다른 경우
        else:
            address =infos[0].text
            match = 'x'


        total_score = soup.find_all('div',attrs = {'class': "gm2-display-2"} )

        if len(total_score)!=0:
            total_score = total_score[0].text
        else:
            total_score = 0
    
    # 검색 결과가 없는 경우
    except:
        total_score = ''
        match = 'not info'
        address = ''
        search_name = shop_name
    
    return search_name, address, total_score, match

In [406]:
def save_dataframe(forpet_hash, search_name, shop_address, address, total_score, review_list, score_list, match):
    
    # shop 정보가 없는 경우
    if address == '':
        not_info_table_insert(not_info_table, forpet_hash, search_name, match)
    
    # shop 정보가 있는 경우
    else:
        # match 여부에 따라
        if match == 'match_all':
            table_total = match_total_table
            table_review = match_review_table

        elif match == 'x':
            table_total = x_total_table
            table_review = x_review_table

        # shop 이름만 같은 경우, match = match_dong, match_gu, not_match
        else:    
            table_total = not_match_total_table
            table_review = not_match_review_table

        total_table_insert(table_total, forpet_hash, search_name, shop_address, address, total_score, review_list, match)
        review_table_insert(table_review, forpet_hash, search_name, shop_address, address, review_list, score_list, match)

In [407]:
practice_table =ordinary_table[ordinary_table['place_name']=='이든동물병원']
practice_table

,forpet_hash,address_name,place_name
6178,7c6e1b90cbc5f712619cac8a94ce05f759df90bac2571a...,광주 북구 삼각동 780-1,이든동물병원
6432,3f0be225036eb3a9b0c713e6980bf983e43ea61b22d9d6...,경기 수원시 팔달구 화서동 743,이든동물병원

In [358]:
SCROLL_PAUSE_TIME = 2
all_cnt = 0
for k in range(len(practice_table)):
    forpet_hash, address_name, place_name= practice_table.iloc[k] 
  
    shop_address =address_name.split(' ')[1:]
    start_crwarling(k, forpet_hash, place_name, shop_address)
 
    try:
        back_button = driver.find_element_by_xpath('//button[@class="ozj7Vb3wnYq__action-button-clickable"]')
        back_button.click()
    except:
        pass

0 이든동물병원 ['북구', '삼각동', '780-1']
shop이 1개입니다
serach_name 이든동물병원 6
shop_name 이든동물병원 6
shop 1개, 이든동물병원, 광주광역시 북구 삼각동 780-1, match_all
match match_all
total_table: 이든동물병원, 광주광역시 북구 삼각동 780-1 등록완료
review_table: 이든동물병원, 광주광역시 북구 삼각동 780-1, 7 등록완료
1 이든동물병원 ['수원시', '팔달구', '화서동', '743']
shop이 1개입니다
serach_name 이든동물병원 6
shop_name 이든동물병원 6
shop 1개, 이든동물병원, 경기도 수원시 팔달구 화서2동 349-4, match_dong
match match_dong
total_table: 이든동물병원, 경기도 수원시 팔달구 화서2동 349-4 등록완료
review_table: 이든동물병원, 경기도 수원시 팔달구 화서2동 349-4 등록완료

In [333]:
print('match_total_table',len(match_total_table))
print('match_review_table',len(match_review_table))

print('not_match_total_table',len(not_match_total_table))
print('not_match_review_table',len(not_match_review_table))

print('x_total_table', len(x_total_table))
print('x_review_table', len(x_review_table))

print('not_info_table', len(not_info_table))

match_total_table 2
match_review_table 2
not_match_total_table 4
not_match_review_table 4
x_total_table 2
x_review_table 2
not_info_table 4

In [306]:
not_match_review_table

Empty DataFrame
Columns: [forpet_hash, shop_name, shop_address, address, num, review, score, match]
Index: []

### 2. table
#### 1. total table

In [408]:
not_match_total_table= pd.DataFrame(columns = ['forpet_hash', 'shop_name', 'shop_address', 'address','total_score', 'review_num','match'])
not_match_total_table

Empty DataFrame
Columns: [forpet_hash, shop_name, shop_address, address, total_score, review_num, match]
Index: []

In [409]:
match_total_table= pd.DataFrame(columns = ['forpet_hash', 'shop_name', 'shop_address', 'address','total_score', 'review_num','match'])
match_total_table

Empty DataFrame
Columns: [forpet_hash, shop_name, shop_address, address, total_score, review_num, match]
Index: []

In [410]:
x_total_table= pd.DataFrame(columns = ['forpet_hash', 'shop_name', 'shop_address', 'address','total_score', 'review_num','match'])
x_total_table

Empty DataFrame
Columns: [forpet_hash, shop_name, shop_address, address, total_score, review_num, match]
Index: []

In [411]:
def total_table_insert(total_table, forpet_hash, search_name, shop_address, address, total_score, review_list, match):
    if len(total_table[total_table['address']== address]) == 0:
        # shop 정보가 없고, total_sclre가 없는 경우
        if total_score == '':
            total_table.loc[len(total_table)+1] = [forpet_hash, search_name, shop_address,  address, np.nan, np.nan, match]
        # shop 정보가 있고, total_score가 있는 경우
        elif total_score == 0:
            total_table.loc[len(total_table)+1] = [forpet_hash, search_name, shop_address, address, 0, 0, match]

        #total score이 없는 경우
        else:
            total_table.loc[len(total_table)+1] = [forpet_hash, search_name, shop_address, address,total_score, len(review_list), match]
        print(f'total_table: {search_name}, {address} 등록완료')
    else:
        print(f'total_table: {search_name}, {address} 이미 있음')
    return total_table

#### 2. review table

In [412]:
not_match_review_table= pd.DataFrame(columns = ['forpet_hash', 'shop_name','shop_address','address', 'num', 'review', 'score', 'match'])
not_match_review_table

Empty DataFrame
Columns: [forpet_hash, shop_name, shop_address, address, num, review, score, match]
Index: []

In [413]:
match_review_table= pd.DataFrame(columns = ['forpet_hash','shop_name','shop_address','address', 'num', 'review', 'score', 'match'])
match_review_table

Empty DataFrame
Columns: [forpet_hash, shop_name, shop_address, address, num, review, score, match]
Index: []

In [414]:
x_review_table= pd.DataFrame(columns = ['forpet_hash', 'shop_name','shop_address','address', 'num', 'review', 'score', 'match'])
x_review_table

Empty DataFrame
Columns: [forpet_hash, shop_name, shop_address, address, num, review, score, match]
Index: []

In [415]:
def review_table_insert(review_table, forpet_hash, search_name, shop_address, address, review_list, score_list, match):
    if len(review_table[review_table['address']== address]) == 0:
        # shop 정보가 없고, total_sclre가 없는 경우
        if review_list == '':
            review_table.loc[len(review_table)+1] = [forpet_hash, search_name, shop_address, address, 1,  np.nan, np.nan, match]
            print(f'review_table: {search_name}, {address} 등록완료')

        # shop 정보가 있고, total_score가 있는 경우
        elif review_list == 0:
            review_table.loc[len(review_table)+1] = [forpet_hash, search_name, shop_address, address, 1, 0, 0, match]
            print(f'review_table: {search_name}, {address} 등록완료')

        #total score이 없는 경우
        else:
            for i, (review, score, match) in enumerate(zip(review_list, score_list, match)):
                review_table.loc[i+1+len(review_table)] = [forpet_hash, search_name, shop_address, address, i, review, score, match]
            print(f'review_table: {search_name}, {address}, {len(review_list)} 등록완료')
    else:
        print(f'review_table: {search_name}, {address} 이미 있음')

    return review_table

#### 3.not_info_table

In [416]:
not_info_table = pd.DataFrame(columns = ['forpet_hash', 'shop_name', 'match'])
not_info_table

Empty DataFrame
Columns: [forpet_hash, shop_name, match]
Index: []

In [417]:
def not_info_table_insert(not_info_table, forpet_hash, shop_name, match):
    not_info_table.loc[1+len(not_info_table)] = [forpet_hash, shop_name, match]
    print(f'not_info_table: {shop_name} 등록완료')
    return not_info_table

### 3. ordinary table

In [418]:
ordinary_table = pd.read_csv('mysql_forpet_shop.csv', index_col = 0)
ordinary_table.head()

,forpet_hash,address_name,place_name
0,4b793eb834462b029e435eaeb49433efc61755c9e15a24...,서울 종로구 평창동 530-8,쿠나이앤티
1,f5169c15a126e4059f0a89bb80fccd236693d5056d24ae...,서울 종로구 창신동 468-1,애견용품할인매장
2,aa26d23f20a9b5642a6689f2a2761ca470703ebbd514eb...,서울 종로구 창신동 436-64,펫클럽 청계점
3,2806f173e3a783ed14d74c9a83da2f62c34f45d470e893...,서울 종로구 홍지동 103-24,나니스펫푸드
4,aa18fd6e2328f00ac2567b7a37a4db308ceee03a01924c...,서울 종로구 필운동 137-5,서촌양품

In [419]:
len(ordinary_table)

8582

In [ ]:
SCROLL_PAUSE_TIME = 2
all_cnt = 0
for k in range( len(ordinary_table)):
    forpet_hash, address_name, place_name= ordinary_table.loc[k] 
  
    shop_address =address_name.split(' ')[1:]
    shop_name = place_name.replace(' ','')
    start_crwarling(k, forpet_hash, shop_name, shop_address)
    
    print('\n')
    try:
        back_button = driver.find_element_by_xpath('//button[@class="ozj7Vb3wnYq__action-button-clickable"]')
        back_button.click()
    except:
        pass

0 쿠나이앤티 ['종로구', '평창동', '530-8']
shop이 1개입니다
serach_name 쿠나이앤티 5
shop_name 쿠나이앤티 5
shop 1개, 쿠나이앤티, 서울특별시 종로구 평창동, match_dong
total_table: 쿠나이앤티, 서울특별시 종로구 평창동 등록완료
review_table: 쿠나이앤티, 서울특별시 종로구 평창동 등록완료


1 애견용품할인매장 ['종로구', '창신동', '468-1']
shop이 3개입니다
serach_name 애견용품할인매장 8
shop_name 애견용품할인매장 8
1번째 shop: 애견용품할인매장 창신동 315-1번지 1층 종로구 서울특별시 KR 0 match_dong
total_table: 애견용품할인매장, 창신동 315-1번지 1층 종로구 서울특별시 KR 등록완료
review_table: 애견용품할인매장, 창신동 315-1번지 1층 종로구 서울특별시 KR 등록완료
serach_name 애견용품할인마트 8
shop_name 애견용품할인매장 8
2번째 shop: 애견용품할인마트 서울특별시 종로구 창신동 436-64번지 0 x
total_table: 애견용품할인마트, 서울특별시 종로구 창신동 436-64번지 등록완료
review_table: 애견용품할인마트, 서울특별시 종로구 창신동 436-64번지 등록완료
serach_name 애견용품할인매장 8
shop_name 애견용품할인매장 8
3번째 shop: 애견용품할인매장 금호동1가 513번지 성동구 서울특별시 KR 0 not_match
total_table: 애견용품할인매장, 금호동1가 513번지 성동구 서울특별시 KR 등록완료
review_table: 애견용품할인매장, 금호동1가 513번지 성동구 서울특별시 KR 등록완료


2 펫클럽청계점 ['종로구', '창신동', '436-64']
shop이 1개입니다
serach_name 펫클럽청계점 6
shop_name 펫클럽청계점 6
shop 1개, 펫클럽청계점, 서울특별시 종로구 창신동 436-64번지 일신파워빌딩, match_all
total_table: 펫클럽청계점, 서울특별시 종로구 창신동 436-64번지 일신파워빌딩 등록완료
review_table: 펫클럽청계점, 서울특별시 종로구 창신동 436-64번지 일신파워빌딩 등록완료


3 나니스펫푸드 ['종로구', '홍지동', '103-24']
shop이 1개입니다
serach_name 나니스펫푸드 6
shop_name 나니스펫푸드 6
shop 1개, 나니스펫푸드, 홍지동 103-24번지 1층 종로구 서울특별시 KR, match_all
total_table: 나니스펫푸드, 홍지동 103-24번지 1층 종로구 서울특별시 KR 등록완료
review_table: 나니스펫푸드, 홍지동 103-24번지 1층 종로구 서울특별시 KR 등록완료


4 서촌양품 ['종로구', '필운동', '137-5']
shop이 1개입니다
serach_name 서촌양품 4
shop_name 서촌양품 4
shop 1개, 서촌양품, 서울특별시 종로구 필운동 137-5, match_all
total_table: 서촌양품, 서울특별시 종로구 필운동 137-5 등록완료
review_table: 서촌양품, 서울특별시 종로구 필운동 137-5 등록완료


5 푸드마스터그룹 ['종로구', '이화동', '191-2']
shop이 1개입니다
serach_name 푸드마스터그룹 7
shop_name 푸드마스터그룹 7
shop 1개, 푸드마스터그룹, 서울특별시 종로구 이화동 191, match_dong
total_table: 푸드마스터그룹, 서울특별시 종로구 이화동 191 등록완료
review_table: 푸드마스터그룹, 서울특별시 종로구 이화동 191 등록완료


6 스프링펫창신점 ['종로구', '창신동', '142-35']
shop이 1개입니다
shop 1개, 스프링펫창신점, , not info
not_info_table: 스프링펫창신점 등록완료


7 다이렉트펫 ['종로구', '창신동', '327-2']
shop이 1개입니다
shop 1개, 다이렉트펫, , not info
not_info_table: 다이렉트펫 등록완료


8 스투키펫 ['종로구', '인사동', '15']
shop이 1개입니다
shop 1개, 스투키펫, , not info
not_info_table: 스투키펫 등록완료


9 반려동물용품사료할인마트 ['서대문구', '홍제동', '279-27']
shop이 4개입니다
serach_name 펫마트홍은점애완동물용품점 13
shop_name 반려동물용품사료할인마트 12
1번째 shop: 펫마트홍은점애완동물용품점 서울특별시 서대문구 홍은동 368-7 0 x
total_table: 펫마트홍은점애완동물용품점, 서울특별시 서대문구 홍은동 368-7 등록완료
review_table: 펫마트홍은점애완동물용품점, 서울특별시 서대문구 홍은동 368-7 등록완료
serach_name 아마존애견용품할인마트애완동물용품점 18
shop_name 반려동물용품사료할인마트 12
Message: element not interactable
  (Session info: chrome=80.0.3987.149)

2번째 shop: 아마존애견용품할인마트애완동물용품점 경기도 구리시 교문동 270-2 3.7 x
total_table: 아마존애견용품할인마트애완동물용품점, 경기도 구리시 교문동 270-2 등록완료
review_table: 아마존애견용품할인마트애완동물용품점, 경기도 구리시 교문동 270-2, 3 등록완료
serach_name 산본팻애견용품할인마트애완동물용품점 18
shop_name 반려동물용품사료할인마트 12
3번째 shop: 산본팻애견용품할인마트애완동물용품점 경기도 군포시 산본1동 79-69 2.0 x
total_table: 산본팻애견용품할인마트애완동물용품점, 경기도 군포시 산본1동 79-69 등록완료
review_table: 산본팻애견용품할인마트애완동물용품점, 경기도 군포시 산본1동 79-69, 1 등록완료
serach_name 반려동물용품사료할인마트 12
shop_name 반려동물용품사료할인마트 12
4번째 shop: 반려동물용품사료할인마트 의정부시 송산1동 0 not_match
total_table: 반려동물용품사료할인마트, 의정부시 송산1동 등록완료
review_table: 반려동물용품사료할인마트, 의정부시 송산1동 등록완료


10 강아지세상 ['서대문구', '홍은동', '9-52']
shop이 1개입니다
shop 1개, 강아지세상, , not info
not_info_table: 강아지세상 등록완료


11 홈독애견마트홍제점 ['서대문구', '홍제동', '469']
shop이 1개입니다
not_info_table: 홈독애견마트홍제점 등록완료


12 도그스푼 ['서대문구', '홍은동', '36-71']
shop이 1개입니다
serach_name 도그스푼 4
shop_name 도그스푼 4
shop 1개, 도그스푼, 홍은동 36-70번지 1층 서대문구 서울특별시 KR, match_dong
total_table: 도그스푼, 홍은동 36-70번지 1층 서대문구 서울특별시 KR 등록완료
review_table: 도그스푼, 홍은동 36-70번지 1층 서대문구 서울특별시 KR 등록완료


13 스프링펫서대문점 ['서대문구', '영천동', '330']
shop이 1개입니다
serach_name 스프링펫애완동물용품점 11
shop_name 스프링펫서대문점 8
shop 1개, 스프링펫애완동물용품점, 서울특별시 마포구 서교동 양화로 189, x
total_table: 스프링펫애완동물용품점, 서울특별시 마포구 서교동 양화로 189 등록완료
review_table: 스프링펫애완동물용품점, 서울특별시 마포구 서교동 양화로 189 등록완료


14 루미앤비비 ['서대문구', '홍제동', '155-6']
shop이 1개입니다
shop 1개, 루미앤비비, , not info
not_info_table: 루미앤비비 등록완료


15 야옹아멍멍해봐성북점 ['성북구', '삼선동5가', '299']
shop이 1개입니다
serach_name 야옹아멍멍해봐성북점 10
shop_name 야옹아멍멍해봐성북점 10
shop 1개, 야옹아멍멍해봐성북점, 서울특별시 성북구 삼선교로24길 3, match_gu
total_table: 야옹아멍멍해봐성북점, 서울특별시 성북구 삼선교로24길 3 등록완료
review_table: 야옹아멍멍해봐성북점, 서울특별시 성북구 삼선교로24길 3, 35 등록완료


16 퍼플네스트 ['중구', '장교동', '73']
shop이 1개입니다
serach_name 퍼플네스트 5
shop_name 퍼플네스트 5
shop 1개, 퍼플네스트, 더케이트윈타워 2층 퍼플네스트 종로구 서울특별시 KR, not_match
total_table: 퍼플네스트, 더케이트윈타워 2층 퍼플네스트 종로구 서울특별시 KR 등록완료
review_table: 퍼플네스트, 더케이트윈타워 2층 퍼플네스트 종로구 서울특별시 KR, 3 등록완료


17 뚜리까까 ['성북구', '동소문동3가', '3']
shop이 1개입니다
serach_name 뚜리까까 4
shop_name 뚜리까까 4
shop 1개, 뚜리까까, 서울특별시 성북구 동소문동3가 동소문로2길 79, match_all
total_table: 뚜리까까, 서울특별시 성북구 동소문동3가 동소문로2길 79 등록완료
review_table: 뚜리까까, 서울특별시 성북구 동소문동3가 동소문로2길 79 등록완료


18 도기랑냥이랑정릉점 ['성북구', '정릉동', '109-2']
shop이 1개입니다
serach_name 도기랑냥이랑정릉점 9
shop_name 도기랑냥이랑정릉점 9
shop 1개, 도기랑냥이랑정릉점, 서울특별시 성북구 정릉동 아리랑로 115, match_dong
total_table: 도기랑냥이랑정릉점, 서울특별시 성북구 정릉동 아리랑로 115 등록완료
review_table: 도기랑냥이랑정릉점, 서울특별시 성북구 정릉동 아리랑로 115, 2 등록완료


19 중앙애견 ['중구', '묵정동', '32-3']
shop이 2개입니다
serach_name 중앙애견 4
shop_name 중앙애견 4
1번째 shop: 중앙애견 서울특별시 중구 장충동 32-14 4.3 match_gu
total_table: 중앙애견, 서울특별시 중구 장충동 32-14 등록완료
review_table: 중앙애견, 서울특별시 중구 장충동 32-14, 3 등록완료
serach_name 중앙애견 4
shop_name 중앙애견 4
2번째 shop: 중앙애견 서울특별시 중구 충무로5가 88-3 2.4 match_gu
total_table: 중앙애견, 서울특별시 중구 충무로5가 88-3 등록완료
review_table: 중앙애견, 서울특별시 중구 충무로5가 88-3, 5 등록완료


20 토토팬시 ['중구', '남창동', '62-5']
shop이 1개입니다
shop 1개, 토토팬시, , not info
not_info_table: 토토팬시 등록완료


21 요술강아지 ['성북구', '정릉동', '285-10']
shop이 1개입니다
serach_name 요술강아지 5
shop_name 요술강아지 5
shop 1개, 요술강아지, 서울특별시 성북구 정릉동 285-10, match_all
total_table: 요술강아지, 서울특별시 성북구 정릉동 285-10 등록완료
review_table: 요술강아지, 서울특별시 성북구 정릉동 285-10 등록완료


22 펫토맘 ['성북구', '삼선동2가', '123']
shop이 1개입니다
serach_name 펫토맘 3
shop_name 펫토맘 3
shop 1개, 펫토맘, 삼선동2가 123번지 4층 성북구 서울특별시 KR, match_all
total_table: 펫토맘, 삼선동2가 123번지 4층 성북구 서울특별시 KR 등록완료
review_table: 펫토맘, 삼선동2가 123번지 4층 성북구 서울특별시 KR 등록완료


23 대주통상 ['서대문구', '홍제동', '294-1']
shop이 1개입니다
shop 1개, 대주통상, , not info
not_info_table: 대주통상 등록완료


24 펫네이처 ['중구', '저동1가', '48']
shop이 1개입니다
serach_name 펫네이처 4
shop_name 펫네이처 4
Message: element not interactable
  (Session info: chrome=80.0.3987.149)

1번째 shop: 펫네이처 1층, 40-1 운양동 김포시 경기도 4.3 not_match
total_table: 펫네이처, 1층, 40-1 운양동 김포시 경기도 등록완료
review_table: 펫네이처, 1층, 40-1 운양동 김포시 경기도, 3 등록완료


25 밀리블리 ['성북구', '동소문동2가', '42']
shop이 1개입니다
shop 1개, 밀리블리, , not info
not_info_table: 밀리블리 등록완료


26 반값애견동소문점 ['성북구', '동소문동7가', '2-18']
shop이 1개입니다
shop 1개, 반값애견동소문점, , not info
not_info_table: 반값애견동소문점 등록완료


27 윤신근견묘애견백화점 ['중구', '충무로4가', '90-1']
shop이 2개입니다
serach_name 윤신근애견종합백화점애완동물용품점 17
shop_name 윤신근견묘애견백화점 10
1번째 shop: 윤신근애견종합백화점애완동물용품점 서울특별시 중구 충무로4가 95-1 4.0 x
total_table: 윤신근애견종합백화점애완동물용품점, 서울특별시 중구 충무로4가 95-1 등록완료
review_table: 윤신근애견종합백화점애완동물용품점, 서울특별시 중구 충무로4가 95-1, 9 등록완료
serach_name 윤신근애견종합병원동물병원 13
shop_name 윤신근견묘애견백화점 10
2번째 shop: 윤신근애견종합병원동물병원 서울특별시 중구 필동2가 53 3.8 x
total_table: 윤신근애견종합병원동물병원, 서울특별시 중구 필동2가 53 등록완료
review_table: 윤신근애견종합병원동물병원, 서울특별시 중구 필동2가 53, 37 등록완료


28 코지펫샵 ['중구', '신당동', '294-67']
shop이 1개입니다
serach_name 코지펫샵 4
shop_name 코지펫샵 4
Message: element not interactable
  (Session info: chrome=80.0.3987.149)

shop 1개, 코지펫샵, 02-2253-6686, not_match
total_table: 코지펫샵, 02-2253-6686 등록완료
review_table: 코지펫샵, 02-2253-6686, 1 등록완료


29 올댓펫 ['중구', '신당동', '422-1']
shop이 1개입니다
shop 1개, 올댓펫, , not info
not_info_table: 올댓펫 등록완료


30 마이펫코리아 ['중구', '을지로6가', '31']
shop이 2개입니다
serach_name 마이펫코리아 6
shop_name 마이펫코리아 6
1번째 shop: 마이펫코리아 을지로6가 31번지 303호 중구 서울특별시 KR 0 match_all
total_table: 마이펫코리아, 을지로6가 31번지 303호 중구 서울특별시 KR 등록완료
review_table: 마이펫코리아, 을지로6가 31번지 303호 중구 서울특별시 KR 등록완료
serach_name 마이펫코리아 6
shop_name 마이펫코리아 6
2번째 shop: 마이펫코리아 인천광역시 중구 운남동 328-4번지 1층 0 match_gu
total_table: 마이펫코리아, 인천광역시 중구 운남동 328-4번지 1층 등록완료
review_table: 마이펫코리아, 인천광역시 중구 운남동 328-4번지 1층 등록완료


31 애견용품도매상가 ['중구', '남창동', '62-6']
shop이 5개입니다
serach_name 중앙애견애완동물전문점 11
shop_name 애견용품도매상가 8
2번째 shop: 중앙애견애완동물전문점 서울특별시 중구 장충동 32-14 4.3 x
total_table: 중앙애견애완동물전문점, 서울특별시 중구 장충동 32-14 등록완료
review_table: 중앙애견애완동물전문점, 서울특별시 중구 장충동 32-14, 3 등록완료

In [54]:



print('match_total_table\n',match_total_table)
print('not_match_total_table\n',not_match_total_table)
print('match_review_table\n',match_review_table)
print('not_match_review_table\n',not_match_review_table)
print('x_total_table\n', x_total_table)
print('x_review_table\n', x_review_table)

match_total_table
                                          forpet_hash shop_name  \
1  aa26d23f20a9b5642a6689f2a2761ca470703ebbd514eb...   펫클럽 청계점
2  2806f173e3a783ed14d74c9a83da2f62c34f45d470e893...    나니스펫푸드
3  aa18fd6e2328f00ac2567b7a37a4db308ceee03a01924c...      서촌양품
4  fb83c79c4e90759c7c48970c543e2f8671e1e39d3eb76d...      뚜리까까

                    shop_address total_score  match
1  서울특별시 종로구 창신동 436-64번지 일신파워빌딩         NaN  match
2   홍지동 103-24번지 1층 종로구 서울특별시 KR         NaN  match
3            서울특별시 종로구 필운동 137-5         NaN  match
4     서울특별시 성북구 동소문동3가 동소문로2길 79         NaN  match
not_match_total_table
                                          forpet_hash    shop_name  \
1  f5169c15a126e4059f0a89bb80fccd236693d5056d24ae...     애견용품할인매장
2  8aa63cf25e3842284a45ab5d4f603e816dba32c9406b88...      푸드마스터그룹
3  bd8ce4fe5ec9031f0d986ac8e3091594a104e02d9e1d71...         도그스푼
4  ad85ca27faea5e1533bdd8873a5a366d237ffd1311f510...    스프링펫 서대문점
5  57eed23d445ca204e0ab28da0f58b1ef85121c92f469b3...  야옹아멍멍해봐 성북점
6  f53e28a28e233499899f56f7c2323b51b13b4745aae71a...        퍼플네스트
7  194e0e4587a9e9c80309199fdc774e55d719bc5b66e1ac...   도기랑냥이랑 정릉점

                    shop_address total_score      match
1    창신동 315-1번지 1층 종로구 서울특별시 KR         NaN  not match
2              서울특별시 종로구 이화동 191         NaN  not match
3   홍은동 36-70번지 1층 서대문구 서울특별시 KR         NaN  not match
4          서울특별시 마포구 서교동 양화로 189         NaN  not match
5            서울특별시 성북구 삼선교로24길 3         4.2  not match
6  더케이트윈타워 2층 퍼플네스트 종로구 서울특별시 KR         4.0  not match
7         서울특별시 성북구 정릉동 아리랑로 115         5.0  not match
match_review_table
                                          forpet_hash num review score  match
1  aa26d23f20a9b5642a6689f2a2761ca470703ebbd514eb...   1    NaN   NaN  match
2  2806f173e3a783ed14d74c9a83da2f62c34f45d470e893...   1    NaN   NaN  match
3  aa18fd6e2328f00ac2567b7a37a4db308ceee03a01924c...   1    NaN   NaN  match
4  fb83c79c4e90759c7c48970c543e2f8671e1e39d3eb76d...   1    NaN   NaN  match
not_match_review_table
                                           forpet_hash num  \
1   f5169c15a126e4059f0a89bb80fccd236693d5056d24ae...   1
2   8aa63cf25e3842284a45ab5d4f603e816dba32c9406b88...   1
3   bd8ce4fe5ec9031f0d986ac8e3091594a104e02d9e1d71...   1
4   ad85ca27faea5e1533bdd8873a5a366d237ffd1311f510...   1
5   57eed23d445ca204e0ab28da0f58b1ef85121c92f469b3...   0
7   57eed23d445ca204e0ab28da0f58b1ef85121c92f469b3...   1
9   57eed23d445ca204e0ab28da0f58b1ef85121c92f469b3...   2
11  57eed23d445ca204e0ab28da0f58b1ef85121c92f469b3...   3
13  57eed23d445ca204e0ab28da0f58b1ef85121c92f469b3...   4
15  57eed23d445ca204e0ab28da0f58b1ef85121c92f469b3...   5
17  194e0e4587a9e9c80309199fdc774e55d719bc5b66e1ac...   0
19  57eed23d445ca204e0ab28da0f58b1ef85121c92f469b3...   7
21  57eed23d445ca204e0ab28da0f58b1ef85121c92f469b3...   8
14  f53e28a28e233499899f56f7c2323b51b13b4745aae71a...   0
16  f53e28a28e233499899f56f7c2323b51b13b4745aae71a...   1
18  194e0e4587a9e9c80309199fdc774e55d719bc5b66e1ac...   1

                                               review    score      match
1                                                 NaN      NaN  not match
2                                                 NaN      NaN  not match
3                                                 NaN      NaN  not match
4                                                 NaN      NaN  not match
5                    애견 및 고양이 관련 모든 제품을 손쉽게 구할 수 있어요.   별표 4개           n
7                         강아지 모든것이 있어서 좋아요 크로백도 구매했구요   별표 5개           o
9                    처음키우는 강아지라 여러가지로 잘 설명해주시고 친절합니다.   별표 5개           t
11  접객하는 푸들과 장모종 고양이가 있어 정겨운곳. 일부러 갸들보러 가고싶을때도 있슴....   별표 5개
13                                가격도 저렴하고 다양핫 상품이 있음   별표 4개           m
15                                   강아지 사료 종류가 많이있어요   별표 4개           a
17                        사장님하고 직원이 참 설명도  잘해주시고친절하셔요   별표 5개           n
19  집가는 길에 들려서 매번 간식사는데 종류가 많다! 처음에 강아지 분양하는데에 강아지...   별표 5개           c
21                              친절하고 다양한 품목이 있습니다~~^^   별표 5개           h
14                  이곳은 퍼플네스트 본사입니다. 직원분들이 열심히 일하시네요.   별표 5개           n
16                                                      별표 3개           o
18                        직원분들도 친절하고, 물건 가격도 저렴하게 팔아요   별표 5개           o
x_total_table
                                          forpet_hash shop_name  \
1  bc5f725f3407b772ac23717515c498d34c6e2ecdfd2e34...      중앙애견

      shop_address total_score match
1  [중구, 묵정동, 32-3]           X     X
x_review_table
                                          forpet_hash      shop_name num  \
1  4b793eb834462b029e435eaeb49433efc61755c9e15a24...          쿠나이앤티   0
2  c923e036035e04fc590dfe181702bdff963f7fe6e0d442...       스프링펫 창신점   0
3  275c9b2f484f215bf7da6e27c0f2ea8696469033657186...         다이렉트 펫   0
4  52f7350baf9645ba80f749b3d86f5e746cf46aaf1265ba...           스투키펫   0
5  8e35f7a0a73e558271ae3dbec0ad40322ed25b73045eb6...  반려동물용품사료 할인마트   0
6  d2f048b9ea45480dfefa2473a1c675f7be19c528c67b77...          강아지세상   0
7  26245c78c1cbed4eb1cc0fd1700e18be45314057179f72...     홈독애견마트 홍제점   0
8  d8d772d31c2687401796f0768d35a295a22569860ee710...          루미앤비비   0
9  bc5f725f3407b772ac23717515c498d34c6e2ecdfd2e34...           중앙애견   0

  review score match
1      X     X     X
2      X     X     X
3      X     X     X
4      X     X     X
5      X     X     X
6      X     X     X
7      X     X     X
8      X     X     X
9      X     X     X