In [3]:
import pandas as pd

#### 1.match_review_table

In [20]:
table1 = pd.read_csv('data/match_review_table.csv',index_col = 0)
table2 = pd.read_csv('data/match_review_table2.csv',index_col = 0)
table3 = pd.read_csv('data/match_review_table3.csv',index_col = 0)
table4 = pd.read_csv('data/match_review_table4.csv',index_col = 0)
table5 = pd.read_csv('data/match_review_table5.csv',index_col = 0)
table6 = pd.read_csv('data/match_review_table6.csv',index_col = 0)

In [23]:
print(len(table1), len(table2), len(table3), len(table4), len(table5), len(table6))
print(len(table1)+ len(table2)+ len(table3)+ len(table4)+ len(table5)+ len(table6))

67 81 32 575 211 150
1116

In [24]:
table = pd.concat([table1, table2, table3, table4, table5, table6], axis = 0)
len(table)

1116

In [17]:
table.head()

,num,forpet_hash,shop_name,shop_address,address,num.1,review,score,match
1,2,aa26d23f20a9b5642a6689f2a2761ca470703ebbd514eb...,펫클럽청계점,"['종로구', '창신동', '436-64']",서울특별시 종로구 창신동 436-64번지 일신파워빌딩,1,0,0,match_all
2,3,2806f173e3a783ed14d74c9a83da2f62c34f45d470e893...,나니스펫푸드,"['종로구', '홍지동', '103-24']",홍지동 103-24번지 1층 종로구 서울특별시 KR,1,0,0,match_all
3,4,aa18fd6e2328f00ac2567b7a37a4db308ceee03a01924c...,서촌양품,"['종로구', '필운동', '137-5']",서울특별시 종로구 필운동 137-5,1,0,0,match_all
4,17,fb83c79c4e90759c7c48970c543e2f8671e1e39d3eb76d...,뚜리까까,"['성북구', '동소문동3가', '3']",서울특별시 성북구 동소문동3가 동소문로2길 79,1,0,0,match_all
5,21,40241855d9e68898a415ad47812353ff7de9abcdbbc4c9...,요술강아지,"['성북구', '정릉동', '285-10']",서울특별시 성북구 정릉동 285-10,1,0,0,match_all